%% -*- erlang -*-
{port_specs, [{"priv/erl_hiredis_nif.so", ["c_src/erl_hiredis_nif.c"]}]}.

{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I."},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/hiredis/libhiredis.a"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
